<a href="https://colab.research.google.com/github/vsoos/DeepLearning/blob/main/ex/data/data_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import os

In [8]:
folder_path = "/content/drive/MyDrive/deeplearning2024_VincenzinaSoos/ex_1/data"
os.chdir(folder_path)

In [15]:
housing_df = pd.read_csv('housing.csv')
homicide_df = pd.read_csv('homicide.csv', low_memory=False)
china_gdp_df = pd.read_csv('china_gdp.csv')
folds5x2_pp_df = pd.read_csv('Folds5x2_pp.csv')
urban_bliss_df = pd.read_csv('urban_bliss_train.csv')

In [11]:
print("housing.csv")
print(housing_df.head())
print(housing_df.info())
print(housing_df.columns)
print(housing_df.dtypes)
print(housing_df.shape)

housing.csv
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object
(20640, 10)

In [16]:
print("homicide.csv")
print(homicide_df.head())
print(homicide_df.info())
print(homicide_df.columns)
print(homicide_df.dtypes)
print(homicide_df.shape)

homicide.csv
   Record ID Agency Code Agency Name       Agency Type       City   State  \
0          1     AK00101   Anchorage  Municipal Police  Anchorage  Alaska
1          2     AK00101   Anchorage  Municipal Police  Anchorage  Alaska
2          3     AK00101   Anchorage  Municipal Police  Anchorage  Alaska
3          4     AK00101   Anchorage  Municipal Police  Anchorage  Alaska
4          5     AK00101   Anchorage  Municipal Police  Anchorage  Alaska

   Year    Month  Incident              Crime Type  ... Victim Ethnicity  \
0  1980  January         1  Murder or Manslaughter  ...          Unknown
1  1980    March         1  Murder or Manslaughter  ...          Unknown
2  1980    March         2  Murder or Manslaughter  ...          Unknown
3  1980    April         1  Murder or Manslaughter  ...          Unknown
4  1980    April         2  Murder or Manslaughter  ...          Unknown

  Perpetrator Sex  Perpetrator Age               Perpetrator Race  \
0            Male               15  Native American/Alaska Native
1            Male               42                          White
2         Unknown                0                        Unknown
3            Male               42                          White
4         Unknown                0                        Unknown

  Perpetrator Ethnicity  Relationship         Weapon Victim Count  \
0               Unknown  Acquaintance   Blunt Object            0
1               Unknown  Acquaintance  Strangulation            0
2               Unknown       Unknown        Unknown            0
3               Unknown  Acquaintance  Strangulation            0
4               Unknown       Unknown        Unknown            0

  Perpetrator Count Record Source
0                 0           FBI
1                 0           FBI
2                 0           FBI
3                 0           FBI
4                 1           FBI

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638454 entries, 0 to 638453
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Record ID              638454 non-null  int64
 1   Agency Code            638454 non-null  object
 2   Agency Name            638454 non-null  object
 3   Agency Type            638454 non-null  object
 4   City                   638454 non-null  object
 5   State                  638454 non-null  object
 6   Year                   638454 non-null  int64
 7   Month                  638454 non-null  object
 8   Incident               638454 non-null  int64
 9   Crime Type             638454 non-null  object
 10  Crime Solved           638454 non-null  object
 11  Victim Sex             638454 non-null  object
 12  Victim Age             638454 non-null  int64
 13  Victim Race            638454 non-null  object
 14  Victim Ethnicity       638454 non-null  object
 15  Perpetrator Sex        638454 non-null  object
 16  Perpetrator Age        638454 non-null  object
 17  Perpetrator Race       638454 non-null  object
 18  Perpetrator Ethnicity  638454 non-null  object
 19  Relationship           638454 non-null  object
 20  Weapon                 638454 non-null  object
 21  Victim Count           638454 non-null  int64
 22  Perpetrator Count      638454 non-null  int64
 23  Record Source          638454 non-null  object
dtypes: int64(6), object(18)
memory usage: 116.9+ MB
None
Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Victim Ethnicity',
       'Perpetrator Sex', 'Perpetrator Age', 'Perpetrator Race',
       'Perpetrator Ethnicity', 'Relationship', 'Weapon', 'Victim Count',
       'Perpetrator Count', 'Record Source'],
      dtype='object')
Record ID                 int64
Agency Code              object
Agency Name              object
Agency Type              object
City                     object
State                    object
Year                      int64
Month                    object
Incident                  int64
Crime Type               object
Crime Solved             object
Victim Sex               object
Victim Age                int64
Victim Race              object
Victim Ethnicity         object
Perpetrator Sex          object
Perpetrator Age          object
Perpetrator Race         object
Perpetrator Ethnicity    object
Relationship             object
Weapon                   object
Victim Count              int64
Perpetrator Count         int64
Record Source            object
dtype: object
(638454, 24)

In [17]:
print("china_gdp.csv")
print(china_gdp_df.head())
print(china_gdp_df.info())
print(china_gdp_df.columns)
print(china_gdp_df.dtypes)
print(china_gdp_df.shape)

china_gdp.csv
   Year         Value
0  1960  5.918412e+10
1  1961  4.955705e+10
2  1962  4.668518e+10
3  1963  5.009730e+10
4  1964  5.906225e+10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    55 non-null     int64
 1   Value   55 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1012.0 bytes
None
Index(['Year', 'Value'], dtype='object')
Year       int64
Value    float64
dtype: object
(55, 2)

In [18]:
print("Folds5x2_pp.csv")
print(folds5x2_pp_df.head())
print(folds5x2_pp_df.info())
print(folds5x2_pp_df.columns)
print(folds5x2_pp_df.dtypes)
print(folds5x2_pp_df.shape)

Folds5x2_pp.csv
      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB
None
Index(['AT', 'V', 'AP', 'RH', 'PE'], dtype='object')
AT    float64
V     float64
AP    float64
RH    float64
PE    float64
dtype: object
(9568, 5)

In [19]:
print("urban_bliss_train.csv")
print(urban_bliss_df.head())
print(urban_bliss_df.info())
print(urban_bliss_df.columns)
print(urban_bliss_df.dtypes)
print(urban_bliss_df.shape)

urban_bliss_train.csv
          City    Month  Year  Decibel_Level Traffic_Density  \
0     New York  January  2024             70            High
1  Los Angeles  January  2024             65          Medium
2      Chicago  January  2024             60          Medium
3       London  January  2024             55            High
4        Paris  January  2024             60            High

   Green_Space_Area  Air_Quality_Index  Happiness_Score  Cost_of_Living_Index  \
0                35                 40              6.5                   100
1                40                 50              6.8                    90
2                30                 55              7.0                    85
3                50                 60              7.2                   110
4                45                 65              6.9                    95

   Healthcare_Index
0                80
1                75
2                70
3                85
4                80
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  545 non-null    object
 1   Month                 545 non-null    object
 2   Year                  545 non-null    int64
 3   Decibel_Level         545 non-null    int64
 4   Traffic_Density       545 non-null    object
 5   Green_Space_Area      545 non-null    int64
 6   Air_Quality_Index     545 non-null    int64
 7   Happiness_Score       545 non-null    float64
 8   Cost_of_Living_Index  545 non-null    int64
 9   Healthcare_Index      545 non-null    int64
dtypes: float64(1), int64(6), object(3)
memory usage: 42.7+ KB
None
Index(['City', 'Month', 'Year', 'Decibel_Level', 'Traffic_Density',
       'Green_Space_Area', 'Air_Quality_Index', 'Happiness_Score',
       'Cost_of_Living_Index', 'Healthcare_Index'],
      dtype='object')
City                     object
Month                    object
Year                      int64
Decibel_Level             int64
Traffic_Density          object
Green_Space_Area          int64
Air_Quality_Index         int64
Happiness_Score         float64
Cost_of_Living_Index      int64
Healthcare_Index          int64
dtype: object
(545, 10)